.about{
    background-color: #f2f2f2;
    width: 65%;
    height: 40vh;
    margin: 10rem auto;
}
img{
    border-radius: 50%;
    height: 150px;
    position: absolute;
    bottom: 67%;
    right: 45%;
}

.about__details{
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}
p{
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
img{
    height: 100px;
    right: 35%;
    bottom: 64%;
}
    p{
        display: flex;
        flex-wrap: wrap;
    }
}